

html {
	
	font-size: 62.25%;
	// now 1 rem = 10 pixels, because we do this calculation first 16 *0.625 = 10
}


body {
	font-family: Helvetica, Arial, sans-serif;

	font-size: $medium-size; 
}

button {
	cursor: pointer; 
}

button:disabled {
	cursor: default; 
}



.is-active {
	font-weight: bold;
}
