// Colors

$off-black: #2f3142;
$grey: #67687d;
$white: #fff;
$black: #000;
$dark-blue: #3a3d52;
$grey-white: #aaa;
$blue-steel: #4e536f;
$light-grey-white: #b7c0ce;

// Spacing

$small-size: 1rem;

$medium-size: 1.6rem;

$large-size: 3.2rem;

$xl-size: 4.8rem;

// for responsive layout
$desktop-breakpoint: 45rem;
